In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
db = pd.read_csv('https://raw.githubusercontent.com/nybbles/kaggle/master/train.csv')

### 1.1 Medidas Centralidade

In [8]:
db.mean()

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

In [9]:
db['age'].mean()

29.69911764705882

In [10]:
db.median()

survived     0.0000
pclass       3.0000
age         28.0000
sibsp        0.0000
parch        0.0000
fare        14.4542
dtype: float64

In [11]:
db.mode(numeric_only=True)

   survived  pclass   age  sibsp  parch  fare
0         0       3  24.0      0      0  8.05

In [14]:
db['survived'][445]

1

### Medidas de Variação

In [15]:
db.var()

survived       0.236772
pclass         0.699015
age          211.019125
sibsp          1.216043
parch          0.649728
fare        2469.436846
dtype: float64

In [16]:
db.std()

survived     0.486592
pclass       0.836071
age         14.526497
sibsp        1.102743
parch        0.806057
fare        49.693429
dtype: float64

In [18]:
db.describe(percentiles=[.10, .15, .50])

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
10%      0.000000    1.000000   14.000000    0.000000    0.000000    7.550000
15%      0.000000    1.000000   17.000000    0.000000    0.000000    7.750000
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200